body {
  margin: 0;
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
.container {
  width: 80%;
  margin-left: 200px;
}
header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.name {
  float: left;
  padding: 10px;
}
header div nav {
  float: right;
}
header div nav div {
  margin: 0;
  padding: 0px;
  list-style: none;
}
header div nav span {
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
}
header div nav a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}
header div nav a:hover {
  color: gray;
}
header div nav div span a button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
nav div span a button:hover {
  background-color: gray;
}
.side-bar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
  padding-top: 20px;
}
.side-bar a {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
  text-align: left;
  border-right: 4px ridge;
}
.side-bar a:hover {
  color: red;
}
.card {
  margin-left: 300px;
  padding: 20px;
  margin-top: 30px;
}
.card-container {
  transition: 0.4s;
  width: 240px;
  background: #ffffff;
  text-align: left;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  float: left;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
